*{
    padding: 0;
    margin: 0;
}

header{
    height: 50px;
    background-color: black;
    text-align: left;
}

a{
    height: 60px;
    color: white;
    margin-right: 200px;
}


button{
    background-color: #f08804;
}

#start{
    color: #f08804;
}